@charset "UTF-8";
.wp-block-oja-code-gutenberg p.file_name {
  margin: 0;
  display: inline-block;
  font-size: 15px;
  position: relative;
  top: 2px; /* 要調整 */
  border: 1px solid #888;
  border-bottom: none;
  background: #fff;
  padding: 2px 5px !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 543px) {
  .wp-block-oja-code-gutenberg p.file_name {
    font-size: 12px;
  }
}

.wp-block-oja-code-gutenberg pre.prettyprint {
  font-family: Monaco, Menlo, Consolas, Courier, monospace, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #888;
  margin: 0 !important;
  background: #fff;
  white-space: pre-line;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wp-block-oja-code-gutenberg pre.prettyprint {
    font-size: 12px;
  }
}
@media screen and (max-width: 545px) {
  .wp-block-oja-code-gutenberg pre.prettyprint {
    font-size: 10px;
    padding-right: 0;
    padding-top: 17px;
    padding-left: 5px;
  }
}

.wp-block-oja-code-gutenberg {
  position: relative;
  margin: 4% 0;
}
.wp-block-oja-code-gutenberg.sons-of-obsidian p.file_name {
  background: #000;
  color: #fff;
}
.wp-block-oja-code-gutenberg.alignleft {
  float: left;
  margin-right: 3%;
}
.wp-block-oja-code-gutenberg.aligncenter {
  clear: both;
  margin: 0 auto;
}
.wp-block-oja-code-gutenberg.alignright {
  float: right;
  margin-left: 3%;
}
.wp-block-oja-code-gutenberg.code-excerpt pre {
  display: -webkit-box !important;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wp-block-oja-code-gutenberg.code-onclick .accordion__title {
  cursor: pointer;
  border-bottom: 1px solid #888;
  position: relative;
}
.wp-block-oja-code-gutenberg.code-onclick .accordion__title:after {
  content: "クリックで開閉";
  position: absolute;
  right: -120px;
  font-size: 12px;
  color: gray;
  top: 30%;
}
@media screen and (max-width: 543px) {
  .wp-block-oja-code-gutenberg.code-onclick .accordion__title:after {
    right: -100px;
    font-size: 10px;
  }
}
.wp-block-oja-code-gutenberg.code-onclick .accordion__content {
  display: none;
  cursor: pointer;
}
.wp-block-oja-code-gutenberg.code-onclick .accordion__content.is-open {
  display: inline-block;
}

.wp-block-oja-code-gutenberg .prettyprint ol {
  margin-left: 15px;
  white-space: pre-wrap; /* 折り返し */
}
@media screen and (max-width: 768px) {
  .wp-block-oja-code-gutenberg .prettyprint ol {
    margin-left: 0;
  }
}

.wp-block-oja-code-gutenberg .prettyprint ol.linenums > li {
  list-style-type: decimal; /* 行番号を1行ずつ表示 */
  border-left: solid 1px #EBB15E; /* 行番号との区切り線 */
  padding: 0;
  padding-left: 0.8rem; /* 間隔の調整 */
  margin: 0 2rem; /* 間隔の調整 */
}
@media screen and (max-width: 768px) {
  .wp-block-oja-code-gutenberg .prettyprint ol.linenums > li {
    margin: 0 0.5rem 0 2rem;
    word-break: break-all;
  }
}
@media screen and (max-width: 543px) {
  .wp-block-oja-code-gutenberg .prettyprint ol.linenums > li {
    padding-left: 0.2rem;
    margin-left: 1.8rem;
  }
}

.wp-block-oja-code-gutenberg .prettyprint ol.linenums > li::marker {
  color: #aaa; /* 行番号の色 */
}

/* 必要であればスキンのスタイルは好みに合わせて変更します */
.desert {
  /* desert.css をコピー */
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
.desert pre.prettyprint {
  display: block;
  background-color: #333;
}
.desert pre .nocode {
  background-color: none;
  color: #000;
}
.desert pre .str {
  color: #ffa0a0;
}
.desert pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
.desert pre .com {
  color: #87ceeb;
}
.desert pre .typ {
  color: #98fb98;
}
.desert pre .lit {
  color: #cd5c5c;
}
.desert pre .pun {
  color: #fff;
}
.desert pre .pln {
  color: #fff;
}
.desert pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
.desert pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
.desert pre .atv {
  color: #ffa0a0;
}
.desert pre .dec {
  color: #98fb98;
}
.desert ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
.desert li.L0, .desert li.L1, .desert li.L2, .desert li.L3, .desert li.L5, .desert li.L6, .desert li.L7, .desert li.L8 {
  list-style-type: none;
}
@media print {
  .desert pre.prettyprint {
    background-color: none;
  }
  .desert pre .str, .desert code .str {
    color: #060;
  }
  .desert pre .kwd, .desert code .kwd {
    color: #006;
    font-weight: bold;
  }
  .desert pre .com, .desert code .com {
    color: #600;
    font-style: italic;
  }
  .desert pre .typ, .desert code .typ {
    color: #404;
    font-weight: bold;
  }
  .desert pre .lit, .desert code .lit {
    color: #044;
  }
  .desert pre .pun, .desert code .pun {
    color: #440;
  }
  .desert pre .pln, .desert code .pln {
    color: #000;
  }
  .desert pre .tag, .desert code .tag {
    color: #006;
    font-weight: bold;
  }
  .desert pre .atn, .desert code .atn {
    color: #404;
  }
  .desert pre .atv, .desert code .atv {
    color: #060;
  }
}
.desert p.file_name {
  background-color: #333;
  color: #eee;
  border: 1px solid #888;
  border-bottom: none;
  margin-bottom: 0 !important;
}

.sunburst {
  /* sunburst.css をコピー */
  /* string  - green */
  /* keyword - dark pink */
  /* comment - gray */
  /* type - light blue */
  /* literal - blue */
  /* punctuation - white */
  /* plaintext - white */
  /* html/xml tag    - light blue */
  /* html/xml attribute name  - khaki */
  /* html/xml attribute value - green */
  /* decimal - blue */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
}
.sunburst pre .str, .sunburst code .str {
  color: #65B042;
}
.sunburst pre .kwd, .sunburst code .kwd {
  color: #E28964;
}
.sunburst pre .com, .sunburst code .com {
  color: #AEAEAE;
  font-style: italic;
}
.sunburst pre .typ, .sunburst code .typ {
  color: #89bdff;
}
.sunburst pre .lit, .sunburst code .lit {
  color: #3387CC;
}
.sunburst pre .pun, .sunburst code .pun {
  color: #fff;
}
.sunburst pre .pln, .sunburst code .pln {
  color: #fff;
}
.sunburst pre .tag, .sunburst code .tag {
  color: #89bdff;
}
.sunburst pre .atn, .sunburst code .atn {
  color: #bdb76b;
}
.sunburst pre .atv, .sunburst code .atv {
  color: #65B042;
}
.sunburst pre .dec, .sunburst code .dec {
  color: #3387CC;
}
.sunburst pre.prettyprint, .sunburst code.prettyprint {
  background-color: #000;
  border-radius: 8px;
  border-top-left-radius: 0; /* 追加 */
}
.sunburst pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}
.sunburst ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
.sunburst li.L0, .sunburst li.L1, .sunburst li.L2, .sunburst li.L3, .sunburst li.L5, .sunburst li.L6, .sunburst li.L7, .sunburst li.L8 {
  list-style-type: none;
}
@media print {
  .sunburst pre .str, .sunburst code .str {
    color: #060;
  }
  .sunburst pre .kwd, .sunburst code .kwd {
    color: #006;
    font-weight: bold;
  }
  .sunburst pre .com, .sunburst code .com {
    color: #600;
    font-style: italic;
  }
  .sunburst pre .typ, .sunburst code .typ {
    color: #404;
    font-weight: bold;
  }
  .sunburst pre .lit, .sunburst code .lit {
    color: #044;
  }
  .sunburst pre .pun, .sunburst code .pun {
    color: #440;
  }
  .sunburst pre .pln, .sunburst code .pln {
    color: #000;
  }
  .sunburst pre .tag, .sunburst code .tag {
    color: #006;
    font-weight: bold;
  }
  .sunburst pre .atn, .sunburst code .atn {
    color: #404;
  }
  .sunburst pre .atv, .sunburst code .atv {
    color: #060;
  }
}
.sunburst p.file_name {
  background-color: #000;
  color: #eee;
  border: 1px solid #888;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0 !important;
}

.doxy {
  /* doxy.css をコピー */
  /* string  - eggyolk gold */
  /* keyword - light slate blue */
  /* comment - green */
  /* type - turq green */
  /* literal - cherry red */
  /* punctuation - lemon chiffon4  */
  /* plaintext - white */
  /* html/xml tag  (bluey)  */
  /* html tag  light purply*/
  /* xslt tag  light purply*/
  /* html/xml attribute name  - lt turquoise */
  /* html/xml attribute value - rosy brown2 */
  /* decimal - blue */
  /*  background is black (well, just a tad less dark )  */
  /* Specify class=linenums on a pre to get line numbering; line numbers themselves are the same color as punctuation */
  /* IE indents via margin-left */
  /* print is mostly unchanged from default at present  */
}
.doxy pre .str, .doxy code .str {
  color: #fec243;
}
.doxy pre .kwd, .doxy code .kwd {
  color: #8470FF;
}
.doxy pre .com, .doxy code .com {
  color: #32cd32;
  font-style: italic;
}
.doxy pre .typ, .doxy code .typ {
  color: #6ecbcc;
}
.doxy pre .lit, .doxy code .lit {
  color: #d06;
}
.doxy pre .pun, .doxy code .pun {
  color: #8B8970;
}
.doxy pre .pln, .doxy code .pln {
  color: #f0f0f0;
}
.doxy pre .tag, .doxy code .tag {
  color: #9c9cff;
}
.doxy pre .htm, .doxy code .htm {
  color: #dda0dd;
}
.doxy pre .xsl, .doxy code .xsl {
  color: #d0a0d0;
}
.doxy pre .atn, .doxy code .atn {
  color: #46eeee;
  font-weight: normal;
}
.doxy pre .atv, .doxy code .atv {
  color: #EEB4B4;
}
.doxy pre .dec, .doxy code .dec {
  color: #3387CC;
}
.doxy a {
  text-decoration: none;
}
.doxy pre.prettyprint, .doxy code.prettyprint {
  font-family: "Droid Sans Mono", "CPMono_v07 Bold", "Droid Sans";
  font-weight: bold;
  font-size: 16px; /* 変更 */
  background-color: #0f0f0f;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-top-left-radius: 0; /* 追加 */
}
@media screen and (max-width: 768px) {
  .doxy pre.prettyprint, .doxy code.prettyprint {
    font-size: 14px;
  }
}
@media screen and (max-width: 545px) {
  .doxy pre.prettyprint, .doxy code.prettyprint {
    font-size: 12px;
    padding-right: 0;
  }
}
.doxy pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}
.doxy pre.prettyprint a, .doxy code.prettyprint a {
  text-decoration: none;
}
.doxy ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #8B8970;
}
.doxy li.L0, .doxy li.L1, .doxy li.L2, .doxy li.L3, .doxy li.L5, .doxy li.L6, .doxy li.L7, .doxy li.L8 {
  list-style-type: none;
}
@media print {
  .doxy pre.prettyprint, .doxy code.prettyprint {
    background-color: #fff;
  }
  .doxy pre .str, .doxy code .str {
    color: #088;
  }
  .doxy pre .kwd, .doxy code .kwd {
    color: #006;
    font-weight: bold;
  }
  .doxy pre .com, .doxy code .com {
    color: #0c3;
    font-style: italic;
  }
  .doxy pre .typ, .doxy code .typ {
    color: #404;
    font-weight: bold;
  }
  .doxy pre .lit, .doxy code .lit {
    color: #044;
  }
  .doxy pre .pun, .doxy code .pun {
    color: #440;
  }
  .doxy pre .pln, .doxy code .pln {
    color: #000;
  }
  .doxy pre .tag, .doxy code .tag {
    color: #b66ff7;
    font-weight: bold;
  }
  .doxy pre .htm, .doxy code .htm {
    color: #606;
    font-weight: bold;
  }
  .doxy pre .xsl, .doxy code .xsl {
    color: #606;
    font-weight: bold;
  }
  .doxy pre .atn, .doxy code .atn {
    color: #c71585;
    font-weight: normal;
  }
  .doxy pre .atv, .doxy code .atv {
    color: #088;
    font-weight: normal;
  }
}
.doxy p.file_name {
  background-color: #0f0f0f;
  color: #eee;
  border: 1px solid #888;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0 !important;
}

.sons-of-obsidian {
  /* sons-of-obsidian.css をコピー */
}
.sons-of-obsidian .str {
  color: #EC7600;
}
.sons-of-obsidian .kwd {
  color: #93C763;
}
.sons-of-obsidian .com {
  color: #66747B;
}
.sons-of-obsidian .typ {
  color: #678CB1;
}
.sons-of-obsidian .lit {
  color: #FACD22;
}
.sons-of-obsidian .pun {
  color: #F1F2F3;
}
.sons-of-obsidian .pln {
  color: #F1F2F3;
}
.sons-of-obsidian .tag {
  color: #8AC763;
}
.sons-of-obsidian .atn {
  color: #E0E2E4;
}
.sons-of-obsidian .atv {
  color: #EC7600;
}
.sons-of-obsidian .dec {
  color: purple;
}
.sons-of-obsidian pre.prettyprint {
  border: 0px solid #888;
  background: #000;
}
.sons-of-obsidian ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
.sons-of-obsidian .prettyprint {
  background: #000;
}
.sons-of-obsidian li.L0, .sons-of-obsidian li.L1, .sons-of-obsidian li.L2, .sons-of-obsidian li.L3, .sons-of-obsidian li.L4, .sons-of-obsidian li.L5, .sons-of-obsidian li.L6, .sons-of-obsidian li.L7, .sons-of-obsidian li.L8, .sons-of-obsidian li.L9 {
  color: #555;
  list-style-type: decimal;
}
.sons-of-obsidian li.L1, .sons-of-obsidian li.L3, .sons-of-obsidian li.L5, .sons-of-obsidian li.L7, .sons-of-obsidian li.L9 {
  background: #111;
}
@media print {
  .sons-of-obsidian .str {
    color: #060;
  }
  .sons-of-obsidian .kwd {
    color: #006;
    font-weight: bold;
  }
  .sons-of-obsidian .com {
    color: #600;
    font-style: italic;
  }
  .sons-of-obsidian .typ {
    color: #404;
    font-weight: bold;
  }
  .sons-of-obsidian .lit {
    color: #044;
  }
  .sons-of-obsidian .pun {
    color: #440;
  }
  .sons-of-obsidian .pln {
    color: #000;
  }
  .sons-of-obsidian .tag {
    color: #006;
    font-weight: bold;
  }
  .sons-of-obsidian .atn {
    color: #404;
  }
  .sons-of-obsidian .atv {
    color: #060;
  }
}

.wp-block-oja-code-gutenberg .copyButton {
  position: absolute;
  right: 0%;
  top: 0%;
  font-size: 12px;
  margin: 0;
  border: none;
  background: #ecf275;
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (max-width: 543px) {
  .wp-block-oja-code-gutenberg .copyButton {
    font-size: 10px;
  }
}
.wp-block-oja-code-gutenberg .copyButton:before {
  content: "\f105";
  font-family: "dashicons";
  color: #7270e6;
  font-size: 14px;
}
@media screen and (max-width: 543px) {
  .wp-block-oja-code-gutenberg .copyButton:before {
    font-size: 12px;
  }
}
.wp-block-oja-code-gutenberg .copyButton span {
  color: #7270e6;
}/*# sourceMappingURL=style.css.map */